header {
  width: calc(100vw);
  height: 50px;
  padding: 15px 0 20px 20px;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  color: white;
  background-color: #007faa;
}

header span {
  vertical-align: middle;
}

#map {
  position: absolute;
  top: 65px;
  left: 350px;
  width: calc(100vw - 350px);
  height: calc(100vh - 65px);
}


h2 {
  color: darkgrey;
}

.checklist {
  border:2px solid #ccc; 
  width:300px; 
  height: 100px; 
  overflow-y: scroll;
}


#sidebar {
  position: absolute;
  top: 135px;
  left: 15px;
  width: 300px;
  height: calc(100vh - 135px);
  overflow-y: auto;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.active, .collapsible:hover {
  background-color: #ccc;
}

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}




