
.container {
  height: 100%;
  position: relative;
}

#map {
  margin: 0;
  padding: 0;
  height: 800px;
  width: 1000px;
  float: left;
}

#sidebar {
 width: 200px;
 height: 600px;
 float: right;
}

h2 {
  color: darkgrey;
}

