.mapcontainer {
  height: 100%;
  position: fixed;
}

#map {
  height: 800px;
  width: 1000px;

}

#sidebar {
 width: 200px;
 float: right;
 overflow-x: scroll;
 top:0;
 bottom: 0;
 height: 800px;
}

h2 {
  color: darkgrey;
}

.checklist {
  border:2px solid #ccc; 
  width:300px; 
  height: 100px; 
  overflow-y: scroll;
}

